body {
  margin: 0;
  background: transparent;
  font-family: 'Segoe UI', sans-serif;
}

/* MAIN BAR */
.bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: white;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 40px;
}

.teams {
  font-weight: bold;
}

.score-box {
  background: #39ff14;
  color: black;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 0 12px #39ff14;
}

.overs {
  font-size: 16px;
}

.powerplay {
  background: #111;
  padding: 4px 8px;
  border-radius: 4px;
}

/* CENTER */
.center {
  text-align: center;
}

.batsman {
  font-size: 15px;
}

.striker {
  color: #00ffcc;
  font-weight: bold;
}

/* RIGHT */
.right {
  text-align: right;
  background: #081c24;
  padding: 10px 15px;
  border-radius: 10px;
}

.required {
  color: orange;
  font-weight: bold;
}

/* BALLS */
.balls {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin-top: 4px;
}

.ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.ball.four { background: cyan; color: black; }
.ball.six { background: lime; color: black; }
.ball.wicket { background: red; }
